<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as list">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" ng-model="list.searchDescription" class="form-control">
    </div>
    <div class="form-group narrow-button" ng-click="list.NarrowItem()">
      <button class="btn btn-primary">Narrow It Down For Me!</button>
    </div>
<br/>
<br/>
<h1><span>{{list.removed}}</span></h1>

<!-- <div class="form-group">
  <ul>

    <li ng-repeat="items in list.filteredItems">
      {{items.name}} - {{items.short_name}} - {{items.description}} - <button type="button" name="button">Don't want this one</button>
    </li>
  </ul>

</div> -->

    <!-- found-items should be implemented as a component -->
    <!-- <found-items found-items="...." on-remove="...."></found-items> -->
    <found-items items="list.items"
                  error={{list.error}}
                  on-remove="list.removeItem(index)"></found-items>
    <!-- <found-items></found-items> -->
  </div>

</body>
</html>
